@font-face {
    font-family: bold;
    src: url('Cormorant_Garamond/CormorantGaramond-Bold.ttf');
}
@font-face {
    font-family: light;
    src: url('Cormorant_Garamond/CormorantGaramond-Light.ttf');
}
html {
 font-family: 'light';
 font-size: 15px;
 line-height: 17px;
}
.heading {
    text-align: center;
    font-size: 18px;
}
.name-and-role {
    font-family: bold;
}
.activity {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}
.activity_points {
    padding-left: 10px;
    padding-top: 5px;
}
.separator {
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
}
.activity-key {
    min-width: 125px
}
.activity-value {
    width: 100%
}
.activity-heading {
    display: flex;
    justify-content: space-between;
    width: 100%
}
.activity-heading-text{
    font-family: bold;
}
.skill {
    margin-right: 5px;
}
